.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/

_ReSharper*/
*.DotSettings.user

.vscode/

*.log

*.nupkg
packages/

appsettings.Development.json

publish/
Publish/

wwwroot/lib/

.DS_Store
Thumbs.db

TestResults/

coverage/
*.coverage
*.coveragexml